{% extends "base.html" %}

{% block title %}Create an account for inbox zero news{% endblock %}

{% block toplinks %} | <a href="{% url login %}">Login</a>{% endblock %}

{% block content %}

<form method="POST" action="{% url create %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Register" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<p>If you already have an account you can <a href="{% url login %}{% if next %}?next={{ next }}{% endif %}">login here</a>.</p>

{% endblock %}
