<html>

    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <p><a href="{% url index %}">Home</a> | <a href="{% url home %}">News</a> | {% if user.is_anonymous %}<a href="{% url login %}">Login</a> | <a href="{% url create %}">Create account</a>{% else %}Logged in as {{ user }} | <a href="{% url logout %}">Logout</a>{% endif %}</p>

        {% block content %}{% endblock %}

        <hr />

        <p>(*) at the moment, this little app drives off <a href="http://reddit.com">Reddit</a>'s <a href="http://reddit.com/r/worldnews">World News</a> section which skews it in all kinds of predictable ways (and leaves out domestic US news). Stories are sorted by their Reddit score which also introduces predictable side-effects. No more than <strong>five</strong> stories are shown at any one time.</p>

        <p>You can see the roadmap, known bugs and other assorted development information on the <a href="https://trello.com/board/anythinghappening/4fce4e99dba31d6131d61384">public trello board</a>.</p>

        <p>Contact me at <a href="mailto:will.critchlow@distilled.net">will.critchlow@distilled.net</a> with any questions or feedback.</p>

    </body>

</html>
